<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321557195099-t5rd2qso3gps2kfvfg02mu9t2g1lmrrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321557195099-t5rd2qso3gps2kfvfg02mu9t2g1lmrrc</string>
	<key>API_KEY</key>
	<string>AIzaSyDYTML_N998mmcBHN8wdmiAOgJSEuWBlK4</string>
	<key>GCM_SENDER_ID</key>
	<string>321557195099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iolani.inhouse.KnowYourAngles</string>
	<key>PROJECT_ID</key>
	<string>knowyourangles2020</string>
	<key>STORAGE_BUCKET</key>
	<string>knowyourangles2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321557195099:ios:27f386f4eb4414a63bd27e</string>
	<key>DATABASE_URL</key>
	<string>https://knowyourangles2020.firebaseio.com</string>
</dict>
</plist>